<div class="ingredients_wrapper">
    <div class="img_wrap_text_info {% unless item.image != blank %} blankImage_keyIngredients {% endunless %}">
        {% if item.image != blank %}
            <div class="img_wrap">
                <img src="{{ item.image | image_url }}" alt="">
            </div>
        {% endif %}
        <div class="key_ingre_title">
            {% if title != blank %}
                <span class="bundle_pro_title" style="background: {{bg_color}}; color: {{color}}">{{title}}</span>
            {% endif %}
            <h4>{{ item.heading }}</h4>
            <p style="{%if item.origin.value == blank %}margin-bottom: 24px;{% endif %}">{{item.origin.value}}</p>
        </div>
    </div>
    <div class="key_ingre_description">
        <p>{{item.description | truncatewords: 34, '...'}}
        {% if item.read_more_url != blank %}
            <span>
                <a target="_blank" href="{{ item.read_more_url }}">
                    Read more {%- render 'icon', icon_name: 'chevron', class: 'carousel-btn__icon ' -%}
                </a>
            </span>
        {% endif %}
        </p>
    </div>            
</div>