
<div class="text-with-button {% if wrapper_class %}text-with-button--{{ wrapper_class }}{%  endif %}">
    <div class="text-with-button__container">
        <div class="text-with-button__text-content">
            <p class="text-with-button__teaser">{{ teaser_text }}</p>
            <p class="text-with-button__text">{{ text }}</p>
        </div>
        <div class="text-with-button__CTA">
            <a class="button button--{{ btn_style }}" >
                {{ btn_text }}
                <svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.1553 4.99264L12.3824 0.21967C12.0895 -0.0732234 11.6146 -0.0732234 11.3217 0.21967C11.0288 0.512563 11.0288 0.987437 11.3217 1.28033L14.8143 4.77297H0.625V6.27297H14.8143L11.3217 9.76561C11.0288 10.0585 11.0288 10.5334 11.3217 10.8263C11.6146 11.1192 12.0895 11.1192 12.3824 10.8263L17.1553 6.0533C17.4482 5.76041 17.4482 5.28553 17.1553 4.99264Z" fill="#2F4775"/>
                </svg>
            </a>
        </div>
    </div>
</div>
