<section class="about-values">
    <div class="container">
        <div class="values_wrp">
            <div class="values-main-heading">
                <h1 class=" {{ section.settings.heading_size }} decorated_heading font--color">{{ section.settings.val-main-heading }}</h1>
            </div>

            <div class="values-main hover-div desktop">
                {% for block in section.blocks %}

{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: block %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

                    <div class="values-block" style="background:{{block.settings.user_color}}">
                        <h3 class="values-heading">{{block.settings.val-heading}}</h3>
                        <div class="values-block-hover values-grid new-div" style="background:{{block.settings.user_color}}">
                            <h3 class="values-heading-hover">{{block.settings.val-heading}}</h3>
                            <p class="values-desc">{{block.settings.val-desc}}</p>
                        </div>
                    </div>
                {% endfor %} 
            </div>

            <div class="values-main hover-div mobile">
                {% for block in section.blocks %}

{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: block %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}
                
                    <div class="values-block" style="background:{{block.settings.user_color}}">
                        <h3 class="values-heading-hover">{{block.settings.val-heading}}</h3>
                        <p class="values-desc">{{block.settings.val-desc}}</p>
                    </div>
                {% endfor %} 
            </div>

        </div>
    </div>
</section>


{% style %}

.mobile {
    display: none;
}

.desktop {
    display: grid;
}

@media (min-width: 1280px){
    .mobile .values-block {
        display: flex;
        top: 0px;
        left: 0;
        width: 100%;
        padding: 3em 3em;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
    }
}

@media (min-width: 768px)  and (max-width: 1280px){
    .desktop {
        display: none;
    }
    .mobile {
        display: grid;
    }
    .mobile .values-block {
        padding: 3em 2em;
    }
}

@media(min-width:320px) and (max-width: 767px){
    .mobile .values-block {
        padding: 2em 2em;
    }
}

{% endstyle %}


{% schema %}
{
"name": "About Values Block",
"settings": [
                {
                    "type": "text",
                    "id": "val-main-heading",
                    "label": "Main Heading"
                },
                {
                    "type": "select",
                    "id": "heading_size",
                    "label": "t:sections.general_section_settings.label_for_heading_size_setting",
                    "options": [
                    {
                        "value": "h0",
                        "label": "t:sections.general_section_settings.heading_size_0_option"
                    },
                    {
                        "value": "h1",
                        "label": "t:sections.general_section_settings.heading_size_1_option"
                    },
                    {
                        "value": "h2",
                        "label": "t:sections.general_section_settings.heading_size_2_option"
                    },
                    {
                        "value": "h3",
                        "label": "t:sections.general_section_settings.heading_size_3_option"
                    },
                    {
                        "value": "h4",
                        "label": "t:sections.general_section_settings.heading_size_4_option"
                    },
                    {
                        "value": "h5",
                        "label": "t:sections.general_section_settings.heading_size_5_option"
                    },
                    {
                        "value": "h6",
                        "label": "t:sections.general_section_settings.heading_size_6_option"
                    },
                    {
                        "value": "h7",
                        "label": "t:sections.general_section_settings.heading_size_7_option"
                    }
                    ],
                    "default": "h6"
                }
            ],

"blocks": [
            {
            "name": "Values Block",
            "type": "cardType",
            "settings": [
                            {
                                "type": "text",
                                "id": "val-heading",
                                "label": "Heading"
                            },
                            {
                                "type": "text",
                                "id": "val-desc",
                                "label": "Description"
                            },
                            {
                                "type": "color",
                                "id": "user_color",
                                "label": "Color"
                            }
                            
                        ]
            }
        ],
"presets": [
            {
                "name": "About values Block"
            }
        ]
}
{% endschema %}