{{ 'images-only.css' | asset_url | stylesheet_tag }}
{%- liquid
  
  assign options = section.settings 
  assign section_spacing_top = options.section_spacing_top
  assign section_spacing_bottom = options.section_spacing_bottom

  assign metafieldData = product.metafields.custom.images_only.value

%}

{% style %}
    .imagesOnly_container.section-spacing{
        padding-top: {{ section_spacing_top }}px;
        padding-bottom: {{ section_spacing_bottom }}px;
    }
{% endstyle %}

{% if metafieldData != blank %}
    <div class="imagesOnly_container container container--{{ section.settings.container_size }} section-spacing {{ section.settings.section_custom_class }}">
        <div class="imagesOnly_parent">
            {% for block in metafieldData %}
                <div class="imageText_child" data-aos="fade-up" data-aos-delay="{{ 200 | times: forloop.index }}" >
                    {% if block.svg_image  != blank %}
                        {{ block.svg_image }}
                        {% if block.text_below_image %}
                            <span style="color: {{ block.text_color }}">
                                {{ block.text_below_image }}
                            </span>
                        {% endif %}
                    {% else %}
                        {% if block.an_image %}
                            <img src="{{ block.an_image | img_url: 'master' }}">
                            {% if block.text_below_image %}
                                <span style="color: {{ block.text_color }}">
                                    {{ block.text_below_image }}
                                </span>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
{% schema %}
    {
        "name": "Images Only",
        "settings": [
            {
                "type": "text",
                "id": "section_custom_class",
                "label": "Section Custom Class"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Choose an Image"
            },
            {
                "type": "range",
                "id": "section_spacing_top",
                "min": 0,
                "max": 100,
                "step": 1,
                "default": 48,
                "unit": "t:sections.general_section_settings.section_spacing_top.unit",
                "label": "t:sections.general_section_settings.section_spacing_top.label"
            },
            {
                "type": "range",
                "id": "section_spacing_bottom",
                "min": 0,
                "max": 100,
                "step": 1,
                "default": 48,
                "unit": "t:sections.general_section_settings.section_spacing_bottom.unit",
                "label": "t:sections.general_section_settings.section_spacing_bottom.label"
            },
            {
                "type": "select",
                "id": "container_size",
                "options": [
                    {
                    "value": "page-width",
                    "label": "t:sections.general_section_settings.container_size.page_width_option"
                    },
                    {
                    "value": "large",
                    "label": "t:sections.general_section_settings.container_size.large_width_option"
                    },
                    {
                    "value": "medium",
                    "label": "t:sections.general_section_settings.container_size.medium_width_option"
                    },
                    {
                    "value": "small",
                    "label": "t:sections.general_section_settings.container_size.small_width_option"
                    },
                    {
                    "value": "xsmall",
                    "label": "t:sections.general_section_settings.container_size.extra_small_width_option"
                    }
                ],
                "default": "large",
                "label": "Container Size"
            }
        ],
        "presets": [
            {
                "name": "Images only Product Page"
            }
        ]
    }
{% endschema %} 