{{ 'landing-page-compare-section.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign options = section.settings
  assign heading = options.heading
  assign text = options.text
  assign heading_alignment = options.heading_alignment
  assign firstHeading = options.block_heading_one
  assign firstImage = options.image_other_one
  assign secondHeading = options.block_heading_two
  assign SecondImage = options.image_other_two
  
-%}
<div class="landing-page-image-with-text">
    <div class="landing-page-image-with-text__wrapper">
        <div class="landing-page-image-with-text__content">
            {%- liquid
                assign heading = heading
                assign text = text
            -%}
            {% render 'section-header', heading: heading, text: text, wrapper_class:'compare-section' %}
        </div>
        <div class="info-compare">
            <div class="info-compare__wrapper">
               <div class="info-compare__container">
                    <div class="info-compare__heading">{{firstHeading}}</div>
                    <div class="info-compare__image"> {% render 'shopify-responsive-image', image:firstImage, aspect_ratio: 1.4 %} </div>
                    <div class="info-compare__text-wrapp">
                        <div class="info-compare__description">
                            {% for block in section.blocks %}
                                {% if block.type == 'other' %}
                                    {% liquid
                                        assign options = block.settings
                                        assign otherBullet = options.svg_image_other
                                        assign otherText = options.description_other
                                    %}
                                    <div class="info-compare__description-wrap">
                                        <div class="info-compare__bullet-img">
                                            {% render 'shopify-responsive-image', image:otherBullet, aspect_ratio: 1 %} 
                                        </div>
                                        <div class="info-compare__text">
                                            {{otherText}}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="info-compare__container">
                    <div class="info-compare__heading">{{secondHeading}}</div>
                    <div class="info-compare__image"> {% render 'shopify-responsive-image', image:SecondImage, aspect_ratio: 1.4 %} </div>
                    <div class="info-compare__description">
                         {% for block in section.blocks %}
                            {% if block.type == 'heal_and_co' %}
                                {% liquid
                                    assign options = block.settings
                                    assign heal_and_co_bullet = options.svg_image_heal_and_co
                                    assign heal_and_co_text = options.description_heal_and_co
                                %}
                                <div class="info-compare__description-wrap">
                                    <div class="info-compare__bullet-img">
                                         {% render 'shopify-responsive-image', image:heal_and_co_bullet, aspect_ratio: 1 %} 
                                    </div>
                                    <div class="info-compare__text">
                                        {{heal_and_co_text}}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% schema %}
{
    "name": "Landing compare section",
    "settings": [  
         {
            "type": "text",
            "id": "heading",
            "label": "t:sections.collection_list.title_label"
        },
        {
            "type": "text",
            "id": "text",            
            "label": "Content"
        },
        {
            "type": "text",
            "id": "block_heading_one",
            "label": "First Heading"
        },
        {
            "type": "text",
            "id": "block_heading_two",
            "label": "Second Heading"
        },
        {
            "type": "image_picker",
            "id": "image_other_one",
            "label": "First Image"
        },
        {
            "type": "image_picker",
            "id": "image_other_two",
            "label": "Second Image"
        }
    ],
    "blocks": [
        {
            "type": "other",
            "name": "Other",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "svg_image_other",
                    "label": "Bullets image"
                },
                {
                    "type": "text",
                    "id": "description_other",
                    "label": "Description"
                }
            ]
        },
        {
            "type": "heal_and_co",
            "name": "Heal_and_co",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "svg_image_heal_and_co",
                    "label": "Bullets image"
                },
                {
                    "type": "text",
                    "id": "description_heal_and_co",
                    "label": "Description"
                }
            ]

        }
    ],
    "presets": [
        {
        "name": "Landing compare section"
        }
    ]
}
{%  endschema %}