{{ 'landing-page-header-styles.css' | asset_url | stylesheet_tag }}

{%- liquid
   assign options = section.settings
 %}

<div class="landing-page-header">
  <div class="landing-page-header__wrapper">
    <div class="landing-page-header__content landing-page-header__content--mobile">
      <div class="landing-page-header__top-content">
        <div class="landing-page-header__text-content">
          <p class="landing-page-header__teaser">{{ options.header_teaser }}</p>
          <p class="landing-page-header__text">{{ options.header_text }}</p>
        </div>
      </div>
      <div class="landing-page-header__bottom-content">
        <div class="landing-page-header__bottom-content-wrapper">
        <div class="landing-page-header__logo">
          <a href="/">
            <svg width="120" height="18" viewBox="0 0 120 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_9141_1492)">
              <g clip-path="url(#clip1_9141_1492)">
              <g clip-path="url(#clip2_9141_1492)">
              <path d="M11.086 9.94367H3.10012V17.1317H0.0195312V1.15625H3.10012V7.20294H11.086V1.15625H14.1666V17.1317H11.086V9.94367Z" fill="#2F4775"/>
              <path d="M20.9009 3.89332V7.20294H25.8062V9.93997H20.9009V14.3909H27.6309V17.128H17.8203V1.15625H27.4019V3.89332H20.9009Z" fill="#2F4775"/>
              <path d="M29.2305 17.1317L36.075 1.15625H38.2432L45.0877 17.1317H41.8705L40.3634 13.5931H33.9511L32.444 17.1317H29.2305ZM35.1183 10.856H39.1814L37.1499 6.13172L35.1183 10.856Z" fill="#2F4775"/>
              <path d="M46.9141 1.15625H49.9946V14.3909H56.7246V17.128H46.9141V1.15625Z" fill="#2F4775"/>
              <path d="M67.9103 7.26598V0.753906H71.2608V7.26598H77.773V10.6162H71.2608V17.1283H67.9103V10.6162H61.3984V7.26598H67.9103Z" fill="#2F4775"/>
              <path d="M85.4831 8.91408C85.4831 12.0169 87.8548 14.3919 90.9386 14.3919C93.0149 14.3919 94.5214 13.3873 95.4562 12.1794L97.5804 14.0743C96.1657 15.8768 93.7902 17.1327 90.8722 17.1327C85.8965 17.1327 82.4062 13.5054 82.4062 8.91778C82.4062 4.33017 85.8487 0.699219 90.8244 0.699219C93.1993 0.699219 95.2271 1.58941 96.6679 2.98195L94.6841 5.08C93.7276 4.12332 92.3794 3.43628 90.8059 3.43628C87.7661 3.43998 85.4831 5.88154 85.4831 8.91408Z" fill="#2F4775"/>
              <path d="M107.304 0.699219C112.231 0.699219 115.634 4.37449 115.634 8.91408C115.634 13.4537 112.235 17.129 107.304 17.129C102.376 17.129 98.9746 13.4537 98.9746 8.91408C98.9746 4.37449 102.373 0.699219 107.304 0.699219ZM107.304 14.3919C110.315 14.3919 112.553 11.9282 112.553 8.91408C112.553 5.90001 110.318 3.43628 107.304 3.43628C104.294 3.43628 102.055 5.90001 102.055 8.91408C102.055 11.9282 104.29 14.3919 107.304 14.3919Z" fill="#2F4775"/>
              <path d="M114.906 15.5996C115.309 15.5996 115.634 15.9209 115.634 16.3273C115.634 16.7299 115.312 17.0438 114.906 17.0438C114.503 17.0438 114.189 16.7299 114.189 16.3273C114.189 15.9209 114.5 15.5996 114.906 15.5996Z" fill="#2F4775"/>
              <path d="M117.658 1.36698V1.62554H117.259V2.87033H116.971V1.62184H116.572V1.36328H117.658V1.36698Z" fill="#2F4775"/>
              <path d="M118.636 2.26456L119.183 1.36328H119.386V2.86664H119.098V2.03185L118.736 2.62285H118.533L118.171 2.03185V2.87033H117.883V1.36698H118.086L118.636 2.26456Z" fill="#2F4775"/>
              </g>
              </g>
              </g>
              <defs>
              <clipPath id="clip0_9141_1492">
              <rect width="120" height="16.59" fill="white" transform="translate(0 0.699219)"/>
              </clipPath>
              <clipPath id="clip1_9141_1492">
              <rect width="120" height="16.59" fill="white" transform="translate(0 0.699219)"/>
              </clipPath>
              <clipPath id="clip2_9141_1492">
              <rect width="119.958" height="16.59" fill="white" transform="translate(0.0195312 0.699219)"/>
              </clipPath>
              </defs>
            </svg>
          </a>
        </div>
        <div class="landing-page-header__CTA">
          <a class="button button--primary" href="{{ options.btn_link }}">
            {{ options.btn_text }}
            <svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.1553 4.99264L12.3824 0.21967C12.0895 -0.0732234 11.6146 -0.0732234 11.3217 0.21967C11.0288 0.512563 11.0288 0.987437 11.3217 1.28033L14.8143 4.77297H0.625V6.27297H14.8143L11.3217 9.76561C11.0288 10.0585 11.0288 10.5334 11.3217 10.8263C11.6146 11.1192 12.0895 11.1192 12.3824 10.8263L17.1553 6.0533C17.4482 5.76041 17.4482 5.28553 17.1553 4.99264Z" fill="white"/>
            </svg>
          </a>
        </div>
        </div>
      </div>
    </div>

    <div class="landing-page-header__content landing-page-header__content--desktop">
      <div class="landing-page-header__left-content">
        <div class="landing-page-header__logo">
          <a href="/">
            <svg xmlns="http://www.w3.org/2000/svg" width="188" height="26" viewBox="0 0 188 26" fill="none">
              <path d="M17.3435 14.4895H4.82792V25.7546H0V0.717773H4.82792V10.1942H17.3435V0.717773H22.1714V25.7546H17.3435V14.4895Z" fill="#FFFFFF"/>
              <path d="M32.7244 5.00733V10.1942H40.412V14.4837H32.7244V21.4593H43.2717V25.7488H27.8965V0.717773H42.9128V5.00733H32.7244Z" fill="#FFFFFF"/>
              <path d="M45.7783 25.7546L56.5051 0.717773H59.9032L70.6299 25.7546H65.5878L63.226 20.2089H53.1765L50.8146 25.7546H45.7783ZM55.0058 15.9193H61.3735L58.1897 8.51538L55.0058 15.9193Z" fill="#FFFFFF"/>
              <path d="M73.4956 0.717773H78.3235V21.4593H88.8708V25.7488H73.4956V0.717773Z" fill="#FFFFFF"/>
              <path d="M106.4 10.2927V0.0869141H111.65V10.2927H121.856V15.5432H111.65V25.749H106.4V15.5432H96.1938V10.2927H106.4Z" fill="#FFFFFF"/>
              <path d="M133.937 12.8744C133.937 17.7371 137.653 21.4593 142.487 21.4593C145.74 21.4593 148.102 19.8848 149.567 17.9918L152.895 20.9615C150.678 23.7865 146.956 25.7547 142.383 25.7547C134.585 25.7547 129.115 20.07 129.115 12.8802C129.115 5.69046 134.51 0 142.308 0C146.03 0 149.208 1.39512 151.466 3.57752L148.357 6.8656C146.858 5.36628 144.745 4.28955 142.279 4.28955C137.514 4.29534 133.937 8.12178 133.937 12.8744Z" fill="#FFFFFF"/>
              <path d="M168.138 0C175.86 0 181.192 5.75992 181.192 12.8744C181.192 19.989 175.866 25.7489 168.138 25.7489C160.416 25.7489 155.084 19.989 155.084 12.8744C155.084 5.75992 160.41 0 168.138 0ZM168.138 21.4593C172.856 21.4593 176.364 17.5982 176.364 12.8744C176.364 8.15073 172.862 4.28955 168.138 4.28955C163.42 4.28955 159.912 8.15073 159.912 12.8744C159.912 17.5982 163.414 21.4593 168.138 21.4593Z" fill="#FFFFFF"/>
              <path d="M180.051 23.3525C180.682 23.3525 181.192 23.8562 181.192 24.4929C181.192 25.1239 180.688 25.616 180.051 25.616C179.42 25.616 178.928 25.1239 178.928 24.4929C178.928 23.8562 179.414 23.3525 180.051 23.3525Z" fill="#FFFFFF"/>
              <path d="M184.364 1.04778V1.453H183.739V3.40385H183.287V1.44721H182.662V1.04199H184.364V1.04778Z" fill="#FFFFFF"/>
              <path d="M185.898 2.45448L186.755 1.04199H187.073V3.39806H186.622V2.08978L186.055 3.016H185.736L185.169 2.08978V3.40385H184.717V1.04778H185.036L185.898 2.45448Z" fill="#FFFFFF"/>
            </svg>
          </a>
        </div>
      </div>
      <div class="landing-page-header__right-content">
         {% render 'text-with-button', wrapper_class:"header", teaser_text:options.header_teaser, text:options.header_text, btn_text:options.btn_text, btn_style:"secondary", btn_link:options.btn_link %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Landing page header",
  "settings": [
    {
      "type": "richtext",
      "id": "header_teaser",
      "label": "Content teaser text"
    },
    {
      "type": "richtext",
      "id": "header_text",
      "label": "Content text"
    },
    {
      "type": "richtext",
      "id": "btn_text",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button link"
    }
  ],
  "presets": [
    {
      "name": "Landing page header"
    }
  ]
}
{% endschema %}
