{{ 'landing-page-main-product.css' | asset_url | stylesheet_tag }}

{% liquid 
    assign slider_content_blocks = ''
    assign options = section.settings
    assign product = options.product_selected
    assign descriptionContent = page.metafields.custom.landing_page_description.value
    assign descriptionTitle = descriptionContent.title 
    assign textIcons = product.metafields.custom.texticons.value
    assign isProductImagesSlider = section.blocks.size
    assign productTag = product.metafields.custom.landing_page_tag.value
    assign description = descriptionContent.description | strip_html
    if isProductImagesSlider <= 0
      assign isProductImagesSlider = true
    else 
      assign isProductImagesSlider = false
    endif
    if isProductImagesSlider
      assign slider_content_blocks = product.images
    else 
      assign slider_content_blocks = section.blocks
    endif
  %}

  {%  capture slider_content %} 
    {%  for block in slider_content_blocks %}
          {%  if isProductImagesSlider %} 
            {%  assign image = block %}
          {%  else  %}
              {%  assign image = block.settings.product_image %}
          {%  endif %}
          {%  render 'shopify-responsive-image', image: image , aspect_ratio: 1 %}
          {%  unless forloop.last %}::carousel_item {%  endunless %}
    {%  endfor  %}
  {%  endcapture %}

<div class="landing-page-main-product">
 <div class="landing-page-main-product__wrapper">
    <div class="landing-page-main-product__container">
        <div class="landing-page-main-product__carousel" data-parent>
            <div class="landing-page-main-product__main-carousel">
              <custom-carousel>
                {%  render 'custom-carousel' , slider_content: slider_content %}
                <script type="text/json" data-settings>
                  {
                    "slidesPerView": 1,
                    "spaceBetween": 15
                  }
                </script>
              </custom-carousel>
            </div>
            <div class="landing-page-main-product__thumbnail-carousel" data-parent>
              <custom-carousel>
                {%  render 'custom-carousel' , slider_content: slider_content %}
                <script type="text/json" data-settings>
                  {
                    "slidesPerView": 5.5,
                    "spaceBetween": 15,
                    "pagination": false,
                    "navigation": true,
                    "breakpoints": {
                      "1441": {
                          "slidesPerView": 7,
                          "spaceBetween": 18 
                        }
                    }
                  }
                </script>
              </custom-carousel>
            </div>
        </div>
        <div class="landing-page-main-product__content">
            <div class="landing-page-main-product__info">
           
                  <h3 class="landing-page-main-product__title">{{product.title}}</h3>
                  <div class="landing-page-main-product__reviews"></div>
                  <div class="landing-page-main-product__tags">
                    {% for tag in productTag  %}
                      <div class="landing-page-main-product__tags-list">{{tag}}</div>
                    {% endfor %}
                  </div>
                  <div class="landing-page-main-product__description_title">{{descriptionTitle}}</div>
                    <div class="landing-page-main-product__description">
                      <div class="landing-page-main-product__description-half" id="show_more_prodDescription" style="color: {{ fontColor }}">
                        {{description | truncate: 120 }}
                          {% if description.size >= 120 %}
                            <span id="readMore_btn">
                              Read More
                            </span>
                          {% endif %}
                      </div>
                       <div class="landing-page-main-product__description-half" id="show_less_prodDescription" style="color: {{ fontColor }}; display: none">
                        {{description}}
                          <span id="readLess_btn">
                            Read Less
                          </span>
                      </div>
                    </div>
                    <div class="landing-page-main-product__icon-text-wrapper">
                      {% if textIcons %}
                        {% for item in textIcons %}
                          {%liquid assign image = item.icon.value %}
                            <div class="landing-page-main-product__icon-text-wrapper-item">
                              <div class="landing-page-main-product__icon">{% render 'shopify-responsive-image', image: image, aspect_ratio: 1 %}</div>
                              <div class="landing-page-main-product__text">{{item.text}}</div>
                            </div>
                        {% endfor %}
                      {% endif %} 
                    </div>
                  <div class="landing-page-main-product__banner-teaser">
                    {% render 'text-with-button', wrapper_class:"product-section", teaser_text:options.header_teaser, text:options.header_text, btn_text:options.btn_text, btn_style:"secondary" %}
                  </div>
              
            </div>
        </div>
    </div>
</div>
</div>
{%  schema %} 
{
  "name": "Main product-landing page",
   "settings": [
        {
            "type": "product",
            "id": "product_selected",
            "label": "Product"
        },
        {
          "type": "text",
          "id": "header_teaser",
          "label": "Content teaser text"
        },
        {
          "type": "text",
          "id": "header_text",
          "label": "Content text"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Button text"
        }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "image",
        "settings": [
          {
              "type": "image_picker",
              "id": "product_image",
              "label": "Product image"
          }
        ]
      },
      {
        "type": "@app"
      }
  ],
  "presets": [
    {
        "name": "Main product-landing page"
    }
  ]
}
{%  endschema %}