{{ 'bundle-tabs-section.css' | asset_url | stylesheet_tag }}
{{ 'bundle-tabs-section-new.css' | asset_url | stylesheet_tag }}
{{ 'product-benefits.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign highlightedBackgroundColor = product.metafields.custom.color_schema.value.highlighted_background_color | default: '#EA6852'
  assign highlightedTextColor = product.metafields.custom.color_schema.value.highlighted_text_color
  assign powerfulBenefits_ExtraInfo = product.metafields.custom.powerful_benefits_extra_info.value | default: product.featured_image
-%}
{% assign prodBenefits = product.metafields.custom.product_benefits.value %}
{% capture imageFromLoop %}
    {% for item in prodBenefits %}
        {% if item.heading == "false" %}
            <img src="{{ item.images | img_url: 'master'}}" alt="">
        {% endif %}
    {% endfor %}
{% endcapture %}

{% assign dividedByNumber = prodBenefits.count | modulo: 2 %}
{% if dividedByNumber == 0 %}
  {% assign leftCounter = prodBenefits.count | divided_by: 2 %}
  {% assign rightCounter = prodBenefits.count | minus: leftCounter %}
{% else %}
  {% assign leftCounter = prodBenefits.count | divided_by: 2 | plus: 1 %}
  {% assign rightCounter = prodBenefits.count | minus: leftCounter | plus: 1 %}
{% endif %}

{% style %}
  .pb_container .pb_title{
      background-color: {{ highlightedBackgroundColor }};
  }
  .pb_container .pb_title .heading,
  .pb_container .pb_title .subheading{
      color: {{ highlightedTextColor }}
  }
  {% if prodBenefits.count %}
      .main_productBenefits_class{
          display: block;
      }
  {% else %}
      .main_productBenefits_class{
          display: none;
      }
  {% endif %}
{% endstyle %}

{% if powerfulBenefits_ExtraInfo.show_hide_section %}
   <div class="bundle-product-details product-details section-{{ section.id }} {% if enable_background_around_container %} section color-{{ color_scheme }} {% endif %}">
    <div class="section-spacing container--{{ container_size }}">
      <div class="product-details__container {% unless enable_background_around_container %} product-details__container--with-aside-spacing section {% endunless %}">
        <div class="desktop_only desktop_tabs">
          
         <bundle-tabs-section>
          <script type="application/json" id="product-bundle-data">
              {
                data:  {
                  "title": "{{section.settings.heading}}",
                    "products": [
                        {% render 'JSON-product-single-data', product: product %}
                    ]
                }
              }
          </script>
        </bundle-tabs-section>
        
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Product Benefits",
  "class": "main_productBenefits_class",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "Main Text Alignment",
      "options": [
        {
          "value": "center",
          "label": "Center"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "leftBlockInfo",
      "name": "Product Left Blocks Info",
      "settings": [
        {
          "type": "image_picker",
          "id": "block_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Product Description"
        }
      ]
    },
    {
      "type": "rightBlockInfo",
      "name": "Product Right Blocks Info",
      "settings": [
        {
          "type": "image_picker",
          "id": "block_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Product Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Benefits"
    }
  ]
}
{% endschema %}
